@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --cor1: #1A7FBD;
    --cor2: #A4DCFF;
}



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.conteudo1 {
    overflow-x: hidden;
}

header {
    position: relative;
    background-color: var(--cor1);
    width: 100vw;
    border-bottom:1px solid white;
    z-index: 1;
    
}

img.logo {
    width: 170px;
    padding-top: 25px;
    margin-bottom:20px;
}

header nav {
    color: white;
    display: flex;
    justify-content: space-evenly ;
    padding: 5px 0;
    
}

nav #botao-procS {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 700;
    height: 24px;
    padding: 10px 5px ;
}



ul li {
    display: inline-block;
    padding-top: 10px;
    padding-right: 40px;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
    color: white;
}


section.conteudo1 {
    background-color: var(--cor1) ;
}



div.conteudo1-1 {
    display: flex;
    justify-content: right;
    width: 100%;
    margin: auto;
}

img.bannertopo {
    position: relative;
    left: 350px;
    width: 1771px;
    bottom: 100px;
}


div.formulario {
    position: relative;
    top: 120px;
    max-width: 405px;
    height: 770px;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    border: 10px solid  rgba(255, 255, 255, 0);
    background-clip: padding-box ;
    outline: 2px solid rgba(255, 255, 255, 0.363); 
}

div.conteudo1-1 img.vetor-form {
    position: relative;
    top: 306px;
    right: 11px;
    height: 457px;
    z-index: 1;
    
}

div.cadastro {
    padding: 0 20px 20px 20px;
    
}

div.cadastro h2 {
    margin: 0;  
    color: rgb(212, 211, 211) ; 
    padding: 20px 10px;
    font-size: 2.0rem;
    font-weight: 700;
}

div.cadastro p {
    margin: 0;
    color: var(--cor1);
    padding: 0px 0px 20px 10px ;
    font-weight: bold;
    font-size: 1.3rem;
    font-weight: 700;
}


.input-container {
    position: relative;
    margin: 5px;
    width: auto;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0px 10px 40px;
    pointer-events: none;
    color: #C3C3C3;
    font-size: 14px;
}

.input-label:after {
    content: ' *';
    color: #1A7FBD;
}


.input-field, .input-select {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none; 
}

.input-field:focus + .input-label,
.input-field:valid + .input-label,
.input-select:focus + .input-label,
.input-select:valid + .input-label {
    display: none;
}


.custom-select-container {
    position: relative;
}

.custom-select-arrow {
    position: absolute;
    right: 19px;
    top: 19px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    background-image: url(../imagens/icone/arrow.png);
    background-size: 20px;
    background-repeat: no-repeat;
    
}



input#nome{
    background-image: url(../imagens/icone/user.png);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: left 8px center ; 
}

input#email{
    background-image: url(../imagens/icone/mail.png);
   background-repeat: no-repeat;
   background-size: 18px;
   background-position: left 8px center;
}


select#estado {
    background: url(../imagens/icone/state.png) no-repeat left 8px center ;
    background-size: 18px;
    padding-left: 33px;    
}


div.linguagensP {
    margin: 0;
    max-width: 400px;
    background-color: var(--cor1);
    color: white;
    padding: 30px 20px;
}

div.linguagensP p {
    font-size: 1.4rem;
    margin: 0;
    padding: 10px 7px;
    font-weight: 700;
}

.linguagensP form {
    display: flex;
    max-width: 400px;
}

form > div {
    margin: auto;
}

form .checkbox-bloco1 {
    max-width: 70px;
}

form .checkbox-bloco2 {
    max-width:80px;
}

form .checkbox-bloco3 {
    max-width:80px;
}

form .checkbox-bloco4 {
    max-width: 140px;
}



input[type="checkbox"]{
    position: relative;
    top:5px;
    appearance: none;
    width: 15px;
    height: 15px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border: 1.5px solid white;
    border-radius: 4px;
    margin: 0 0 3px 0px;
}

input:checked[type="checkbox"]{
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid rgba(255, 255, 255, 0);
    background-clip: padding-box ;
    outline: 1px solid white;
    margin: 0 0 3px 0px;
}

div.linguagensP label {
    display: inline-block;
    padding: 3px 0px 3px 0;
    font-size: 14px;
    font-weight: 300;
}

div.exp {
    padding: 20px 20px 10px 20px;
}

input[type="radio"]{
    position: relative;
    top:2px;
    appearance: none;
    width: 15px;
    height: 15px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border: 1.5px solid var(--cor1);
    border-radius: 4px;
}

input:checked[type="radio"]{
    width: 15px;
    height: 15px;
    background-color: var(--cor1);
    border: 2px solid rgba(255, 255, 255, 0);
    background-clip: padding-box ;
    outline: 1px solid var(--cor1);
}

div.exp label {
    display: inline-block;
    padding-bottom: 25px;
    color: rgb(173, 173, 173);
    font-size: 1.4rem;
}

div.exp p {
    color: var(--cor1);
    font-size: 1.4rem;
    font-weight: 700;
}



div.exp #exp-enviar {
    display: block;
    margin: 20px auto 10px auto;
    width: 350px;
    height: 50px;
    background-color: var(--cor1);
    color: white;
    border: none;
    font-size: 1.8rem;
    border-radius: 5px;
    cursor:pointer;
}

div.exp div.obrigat {

    border-top: 1px solid gray;
}

div.exp div.obrigat p {
    margin: 0;
    padding: 10px 20px 20px 20px;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
}

div.exp div.obrigat a {
    text-decoration: none;
    color: var(--cor1);
}

div.exp div.obrigat p.politic {
    color: gray;
    font-weight: 500;
}


div.conteudo1-2 {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom:150px

}
div.conteudo1-2 img {
    width: 700px;
    margin-right: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #54B1EA 0%, rgba(84, 177, 234, 0.00) 100%);

}

div.conteudo1-2 article {
    justify-content: justify;
    width: 400px;
    
}
div.conteudo1-2 article h2 {
    font-size: 4.0rem;
    color: #A4DCFF;
}
div.conteudo1-2 article p {
    color: white;
    font-weight: 500;
}

.conteudo2-bg {
    width: 100vw;
    background-color: #f9f9f9;
}

div.problema {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
}

div.problema img {
    width: 538px;
    padding-right: 80px;
    
}

div.problema article {
    width: 400px;
    margin-top: 150px;
}

article p.prob-subt {
    font-size: 2.0rem;
    font-weight: 700;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

div.blocos {
    position: relative;
    bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1400px;
    justify-content: center;
}

div.bloco {
    width: 250px;
    padding: 10px 50px;
    margin-right: 10px ;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.11);
}

div.bloco h3 {
    text-align: center;
    font-size: 3.0rem;
    font-weight: 700;
}

div.bloco p {
    text-align: center;
    font-weight: 500;

}

div.titulo-j {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
}

div.titulo-j h2 {
    margin: 0 5px 20px 5px;
    text-align: center;
}

h2.gradient {
    font-size: 4.0rem;
    background-image: linear-gradient(to right,var(--cor1), var(--cor2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.titulo-j img {
    margin-top: 30px;
    width: 100vw;
    height: 6px;
}

div.titulo-j #img1 {
    transform: rotate(180deg);
}

div.blocos-jornada {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    flex-wrap: wrap;
    color: white;
    font-weight: 300;
    line-height: normal;   
}

div.bloco-j {
    display: flex;
    background-color: #1A7FBD;
    width: 320px;
    height: 60px;
    border-radius: 12px ;
    margin-right: 15px;
    margin-bottom: 10px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.151); 
}

div.bloco-j img {
    width: 25px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: auto 10px auto 8px;
}

div.bloco-j .icon-group {
    padding: 9px 5px;
}

div.bloco-j p {
    display: inline-block;
    margin: auto 0px;
    padding: 8px 2px 8px 0;
}

.conteudo2 a {
    text-decoration: none;
}

.conteudo2 button {
    display:block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 230px;
    color: white;
    padding-right: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: black;
    background-image: url(../imagens/icone/enter.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center right 20px;
    padding: 25px 70px 22px 32px; 
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.192);
    cursor: pointer;
      
}

.conteudo2 img.vetor-azul {
    display:block;
    margin:auto;
    position: relative;
    bottom: 210px;
}

section.conteudo3 {
    background-color: #1A7FBD;
    padding-bottom: 50px;
}

section.conteudo3 h1 {
    text-align: center;
    color: white;
    font-size: 4.0rem;
    padding: 60px 0 30px;
}

section .objetivos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
}

div.bloco-obj {
    width: 250px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    box-shadow: 0 50px 40px rgba(0, 0, 0, 0.247);
    text-align: center;
    text-justify: justify;
    padding: 0px 34px 10px;
    margin: 10px 10px 100px 0;
}

div.bloco-obj h3 {
    font-size: 3.0rem;
    font-weight: 700;
    margin: 20px 0px 15px
}

div.bloco-obj p {
    margin-top: 0;
    font-weight: 500;
}

footer {
    color: white;
    background-color: black;
}

footer .rodape {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0 70px 0;
}

footer .social {
    margin-top: 20px;
    font-size: .9rem;
    
}

.social figure {
    margin: 10px 0;
}

.social figure img {
    width: 15px;  
} 

footer button {
    margin-top: 30px;
    background-color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

footer ul {
    border-right: 1px solid white;
}

footer ul li {
    display: block;
}

footer .contato {
    padding-top: 12px; 
}


